*{
    margin:0;
}
body{
    color: white;
    background-color: rgb(238, 236, 236);
}

.logo{
    font-size: 40px;
}
/* .logo,
ul li{
    float: right;
}
li{
    list-style: none;
    padding-left:40px;
} */

nav, ul
{
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}
.logo{
    font-size: 40px;
    text-transform: uppercase;
}
nav{
    column-gap: 20px;
    font-size:20px;
    align-items: center;
    justify-content: center;
    background-color: black;
}
li{
    list-style-type: none;
} 